node_modules/
dist/
.env
.env.*
!.env.example
secrets/
*.log
.DS_Store

# Flutter
.dart_tool/
.packages
build/
*.iml
.flutter-plugins*
google-services.json
GoogleService-Info.plist

# Editors
.idea/
.vscode/
